/* OVER ALL */
.hide {
    display: none;
}

/* PAGE HEADER */
#pageHeaderText {
    padding-left: 0px;
    padding-right: 0px;
}

/*==============================================================================*/

/* SEARCH RECIPE */
#searchRecipe, #searchSection, #searchSectionIcon {
    background-color: #b22743;
}
#searchButton {
    background-color: #ef8499;
    font-weight: bold;
    color: white;
    border: 2px solid white;
}
#searchButton:hover {
    background-color: #ffebef;
    color: #ff3860;
    border: 2px solid #ff3860;
}

/*==============================================================================*/

/* RECIPE SUGGESTIONS */
#recipeSuggestions {
    background-color: #e53256;
}
#suggestionCard1, #suggestionCard2, #suggestionCard3, #suggestionCard4 {
    background-color: #ef8499;
}
#suggestionInfo1, #suggestionInfo2, #suggestionInfo3, #suggestionInfo4 {
    color: white;
    text-align: center;
    font-size: 20px;
}
#suggestionCard1:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 5px 5px 15px #7f1c30;
}
#suggestionCard2:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 5px 5px 15px #7f1c30;
}
#suggestionCard3:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 5px 5px 15px #7f1c30;
}
#suggestionCard4:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 5px 5px 15px #7f1c30;
}
#suggestionButton1, #suggestionButton2, #suggestionButton3, #suggestionButton4 {
    text-decoration: none;
}
#calorieCount1, #calorieCount2, #calorieCount3, #calorieCount4,
#servingNumber1, #servingNumber2, #servingNumber3, #servingNumber4,
#prepTime1, #prepTime2, #prepTime3, #prepTime4,
#starNumber1, #starNumber2, #starNumber3, #starNumber4 {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: #ff3860;
    font-weight: bold;
    text-align: center;
}

/*==============================================================================*/

/* FAVORITE RECIPES */
#recipeFavorite {
    background-color: #7f1c30;
}
#favoriteButtonsTile {
    background-color: #b22743;
}
#favoriteButton {
    background-color: #ef8499;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
#favoriteButton:hover {
    background-color: #ffebef;
    color: #ff3860;
    border: 2px solid #ff3860;
}
#clearButton {
    font-weight: bold;
}
#clearButton:hover {
    background-color: #ffebef;
    color: #ff3860;
    border: 2px solid #ff3860;
}

/*==============================================================================*/

/* PAGE FOOTER */
#footer {
    background-color: #ff3860;
    color: white;
    font-size: 25px;
}

